body {
  background-color: rgb(240, 250, 251);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.l-header {
  background-color: rgb(94, 164, 164);
  width: 100%;
}
.l-jobs {
  padding: 50px 0;
  &__container {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    box-shadow: 5px 8px 13px rgb(174, 212, 212);
    border-radius: 5px;

    &:hover {
      border-left: 0.2rem solid rgb(94, 164, 164);
    }

    &__details {
      display: flex;

      &__logo {
        display: inline-block;
      }

      &__wrap {
        &__tags {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 600;

          &__company {
            color: rgb(94, 164, 164);
            margin-right: 20px;
          }
          &__new {
            background-color: rgb(94, 164, 164);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 10px;
          }
          &__featured {
            background-color: hsl(180, 14%, 20%);
            color: white;
            border-radius: 20px;
            padding: 5px 10px;
          }
        }
        &__position {
          font-size: 18px;
          font-weight: 900;
          color: hsl(180, 14%, 20%);
        }
        &__info {
          display: flex;
          font-size: 14px;
          color: hsl(180, 8%, 52%);
        }

        &__info li {
          &:not(:last-child)::after {
            content: "";
            width: 4px;
            height: 4px;
            display: inline-block;
            vertical-align: middle;
            background-color: hsl(180, 12%, 74%);
            border-radius: 50%;
            margin: 0 8px;
          }
        }
      }
    }

    &__skills {
      display: flex;
      margin-right: 20px;
    }
    &__skills li {
      background-color: hsl(180, 31%, 95%);
      border-radius: 5px;
      padding: 5px 10px;
      margin-right: 10px;
      color: rgb(94, 164, 164);
      font-size: 14px;

      &:hover {
        background-color: rgb(94, 164, 164);
        color: white;
      }
    }
  }
}

.display {
  display: block;
}

.none {
  display: none;
}

//PC
@media screen and (min-width: 376px) {
  .l-header {
    background-image: url("../images/bg-header-desktop.svg");
    height: 7rem;
  }

  .l-jobs {
    &__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      &__details {
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        &__logo {
          width: 88px;
          height: 88px;
          margin-right: 1rem;
        }

        &__wrap {
          &__tags {
            margin-bottom: 0.8rem;
          }

          &__position {
            margin-bottom: 0.8rem;
          }
        }
      }

      &__skills {
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

//SP
@media screen and (max-width: 375px) {
  .l-header {
    background-image: url("../images/bg-header-mobile.svg");
    background-size: cover;
    height: 10rem;
  }

  .l-jobs {
    &__container {
      margin-bottom: 50px;
      &__details {
        position: relative;
        padding: 60px 20px 0px;
        &__logo {
          position: absolute;
          top: -1rem;
          width: 60px;
          height: 60px;
        }

        &__wrap {
          border-bottom: 0.05rem solid hsl(180, 8%, 52%);
          padding-bottom: 20px;
          &__tags {
            margin-bottom: 1rem;
            font-weight: 900;
          }
          &__position {
            margin-bottom: 1.2rem;
          }
        }
      }

      &__skills {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 20px 0;
      }

      &__skills li {
        margin-bottom: 20px;
      }
    }
  }
}
