body {
  background-color: rgb(240, 250, 251);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.header {
  background-color: rgb(94, 164, 164);
  width: 100%;
  height: 5rem;
}

/* Style for Filter-bar */
.filter {
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  overflow-x: scroll;
}

.filter .tag {
  height: 30px;
  padding: 5px 6px;
  background-color: hsl(180, 31%, 95%);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  margin-right: 11px;
}

/* input */
.filter__field {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  color: hsl(180, 8%, 52%);
  flex: 1;
}

.filter span {
  color: hsl(180, 8%, 52%);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.filter i {
  background-color: hsl(180, 8%, 52%);
  border-radius: 0.2rem;
  text-align: center;
  color: hsl(180, 31%, 95%);
  font-size: 1rem;
  padding: 0.2rem 0.4rem 0.1rem;
}

.filter i:hover {
  background-color: hsl(180, 14%, 20%);
}

.filter__clear_btn {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 8%, 52%);
  border-radius: 0.2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}
